PORT=5000
MONGO_URI_CLOUD= your mongoDB URI
JWT_SECRET= your JWT Secret
EMAIL_USER= your email
EMAIL_PASSWORD= your passwword since I'm using gmail with noemailer, you can use any email delivery api 
NODE_ENV = 'development'