PORT=5000
MONGO_URI_CLOUD=yourMongoDbURI
JWT_SECRET=yourJWTSecret
EMAIL_USER=yourEmail
EMAIL_PASSWORD=yourPasswword since Im using gmail with noemailer, you can use any email delivery api
NODE_ENV='development'
CLOUDINARY_CLOUD_NAME=yourCloudName
CLOUDINARY_API_KEY=yourApiKey
CLOUDINARY_API_SECRET=yourApiSecret